@font-face {
    font-family: "Lato";
    src: url(../Fonts/Lato-Regular.ttf) format("truetype");
}

.visionHeaderWrapper {

}

.visionHeader {
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    color: #334150;
    text-align: left;
}