<!--
Temporary Gazebo Launch File to test spawner.py without Robot Arm
Author: James Lin
-->

<launch>
    <env name="GAZEBO_RESOURCE_PATH" value="$(find ur5_t2_4230)/media/materials" />
    <env name="GAZEBO_MODEL_PATH" value="$(find ur5_t2_4230)/models" />

    <arg name="debug" default="false" />
    <arg name="gui" default="true" />
    <arg name="pause" default="false" />
    <arg name="world" default="$(find ur5_t2_4230)/world/ur5_world.world" />

    <!-- Add Arguments for Break Beam (Proximity Laser Sensor) -->
    <arg name="break_beam" value="break_beam_"/>
    <param name="$(arg break_beam)description"
        command="$(find xacro)/xacro --inorder '$(find ur5_t2_4230)/models/break_beam/break_beam.xacro' prefix:=$(arg break_beam)"/>

    <!-- include gazebo_ros launcher -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)" />
            <arg name="debug" value="$(arg debug)" />
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="$(arg pause)" />
            <arg name="use_sim_time" value="true" />
    </include>


    <!-- Spawn Break Beam -->
    <node name="$(arg break_beam)spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -model $(arg break_beam) -param $(arg break_beam)description"/>
</launch>

<!--
    <!-- Add Arguments for Conveyor belt  
    <arg name="conveyor_belt" value="conveyor_belt_"/>
    <param name="$(arg conveyor_belt)description"
            command="--inorder '$(find ur5_t2_4230)/models/conveyor/model.sdf' prefix:=$(arg conveyor_belt)"/>

    <!-- Spawn Conveyor -->
    <node name="$(arg conveyor_belt)spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -model $(arg conveyor_belt) -param $(arg conveyor_belt)description"/> 
-->